# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
docs/evaluacion-usabilidad-ISO9241.md
docs/evaluacion-usabilidad-ISO25010.md
docs/INSTRUCCIONES-AGREGAR-IMAGENES-Y-MAPA.md
docs/SOLUCION-ERROR-COORDENADAS.md
docs/sql-agregar-coordenadas-rutas-FIX.sql
docs/sql-agregar-coordenadas-rutas.sql
docs/sql-agregar-planes.sql
docs/sql-crear-perfiles-usuarios-existentes.sql
docs/sql-deshabilitar-trigger-temporal.sql
docs/sql-fix-trigger-perfil.sql
docs/sql-rutas-favoritas.sql
docs/sql-solucion-definitiva-registro.sql
docs/sql-trigger-perfil-usuario.sql
.gitignore
docs/sql-verificar-rol-usuario-actual.sql
docs/sql-verificar-y-corregir-rol-admin.sql
docs/sql-verificar-y-limpiar-todo.sql
